# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.xcuserstate

.DS_Store

grafika1.xcodeproj/project.xcworkspace/xcuserdata/bence.xcuserdatad/UserInterfaceState.xcuserstate

grafika1/main.cpp

grafika1/main.cpp
